body {
  margin: 0;
  font-family: rubik;
  font-size: 1,7em;
  background-image: url('assets/ws_Red_star_1600x1200.png');
}

.container{
  display: grid;
}

li{
  color: white;
  list-style: none;
}

.titulo{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#buscador{
  display: inline-block;
  margin-top:20px;
  border-radius: 15px;
  height: 20px;
  width: 200px;
}

#pokedex{
  display: inline-grid;
  grid-template-columns: repeat(5, 10fr);
}

.nombre{
  margin: unset;
  color: rgb(24, 2, 2);
}

.divCard{
  margin-top: 10px;
  background-image: url('assets/pokemon-video-games-pixels-pixel-art-wallpaper-preview.jpg');
  background-size: 19em;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: block;
}

.divContainer{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  border: 2px solid rgb(0, 0, 0);
  width: 170px;
  height: 200px;
}

.imagen-card{
  height: 160px;
  width: 160px;
  padding: 0px;
}

.listaNew{
  padding: 0px;
}

.new{
  background-color: rgb(117, 100, 44);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 200px;
  margin: unset;
  color: black;
}

.titulo-new{
  color: wheat;
}

.pokemon{
  color: black;
}